.branding {
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 0;
  padding-left: 3rem;
  top: 3rem;
  z-index: 1;
  width: calc(100% - 3rem);
}
.logo {
  width: auto;
  height: 6.5rem;
  padding: 0.5rem;
  border-radius: 0.5rem;
  z-index: 10;
}
.banners {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 1rem;
}
.email,
.social {
  display: flex;
  align-items: center;
  border-radius: 0.5rem 0 0 0.5rem;
  padding: 0.3rem 1rem;
  gap: 1rem;
  background-color: var(--background-secondary);
}
.email {
  font-weight: 800;
  font-size: var(--font-small);
  color: var(--background-tertiary);
}
.banners img,
.banners svg {
  height: 2rem;
  color: var(--background);
}
/* responsive */
@media only screen and (max-width: 750px) {
  .branding {
    align-items: center;
    top: 0;
    padding: 1rem 1rem;
    width: calc(100% - 2rem);
  }
  .banners {
    display: none;
  }
  .logo {
    height: 3.5rem;
  }
}
