.navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  width: 100%;
  white-space: nowrap;
  height: 2.5rem;
  top: 0;
  position: sticky;
  z-index: 50;
  background-color: var(--background);
}
.navbar a {
  color: var(--font);
}
.navbar .item {
  display: flex;
  align-items: center;
  color: var(--font);
  font-size: var(--font-smaller);
  font-weight: 600;
  text-decoration: none;
  padding: 0 1.5rem;
  height: 100%;
}
details {
  position: relative;
  user-select: none;
}
details div {
  display: flex;
  flex-direction: column;
  list-style: none;
  position: absolute;
  left: 0;
  top: 2.5rem;
  background-color: var(--background);
  border-radius: 0 0 1rem 1rem;
  overflow: hidden;
}
details div a {
  display: flex;
  align-items: center;
  font-size: var(--smaller);
  font-weight: 600;
  text-align: left;
  height: 2.5rem;
  padding: 0 1.5rem;
  width: calc(100% - 1.5rem);
}
summary {
  display: flex;
  align-items: center;
  justify-items: center;
  cursor: pointer;
  height: 100%;
  gap: 0.5rem;
}
summary .arrow {
  content: "";
  width: 1.8rem;
  height: 2rem;
  color: var(--font);
  transform: rotate(-90deg);
  transition: 0.2s;
}
details[open] > summary .arrow {
  transform: rotate(90deg);
}
.navbar .moreSubmenu {
  display: none;
}
/* Nav Mobile */
.navMobile {
  display: none;
}
.hamburger {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  -webkit-user-select: none;
  user-select: none;
  cursor: pointer;
  width: 4rem;
  height: 4rem;
  position: fixed;
  z-index: 10;
  top: 0;
  right: 0;
  gap: 5px;
  border: none;
  background-color: var(--background);
  border-radius: 0 0 0 1rem;
}
.navMobile input {
  display: none;
}
.hamburger span {
  display: block;
  width: 27px;
  height: 4px;
  background: var(--font);
  border-radius: 3px;
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
    background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
}
.hamburger span:nth-child(1) {
  transform-origin: 0% 0%;
}
.hamburger span:nth-child(3) {
  transform-origin: 0% 100%;
}
.open + .hamburger > span:nth-child(1) {
  transform: rotate(45deg);
}
.open + .hamburger > span:nth-child(2) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}
.open + .hamburger > span:nth-child(3) {
  transform: rotate(-45deg);
}
.menu {
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
  list-style-type: none;
  background-color: var(--background);
  gap: 0.5rem;
  padding: 6rem 1rem 2rem 1rem;
  width: calc(100% - 2rem);
}
.menu li a {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-decoration: none;
  color: var(--color-4);
  transition: color 0.3s ease;
  width: 100%;
  height: 5rem;
  font-size: var(--small);
  font-weight: 600;
}
.menu li a svg {
  width: 2rem;
}
.iconFill {
  fill: var(--font);
}
.iconStroke {
  stroke: var(--font);
}
.open {
  display: flex;
}
.hidden {
  display: none;
}
/* responsive */
@media only screen and (max-width: 1200px) {
  .navbar .moreItem {
    display: none;
  }
  .navbar .moreSubmenu {
    display: flex;
  }
}
@media only screen and (max-width: 750px) {
  .navbar {
    display: none;
  }
  .navMobile {
    display: block;
  }
  .navMobile .item {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: var(--medium);
    font-weight: 600;
    min-height: 3rem;
    width: 100%;
  }
  .navMobile details div {
    position: relative;
    top: 0;
    overflow: visible;
    width: 100%;
  }
  .navMobile details div a {
    font-size: var(--small);
    font-weight: 600;
    height: 3rem;
    padding: 0;
    width: 100%;
  }
  .navMobile .ticket,
  .navMobile .social,
  .navMobile .email {
    width: 95%;
    justify-content: center;
    border-radius: 0.5rem;
  }
  .email svg,
  .social img,
  .ticket svg {
    width: 2rem;
    color: var(--background);
  }
}
